{% extends "@HubsineSkeleton/Base/error.html.twig" %}

{% block error_content %}

    <h1 class="h3">{{ ('error.title')   |  trans }}</h1>
    <h2 class="h6 mt-5">{{ ('error.text')  |  trans({'%status_code%': status_code, '%status_text%': status_text}) }}</h2>

{% endblock error_content %}