{% extends "@HubsineSkeleton/Base/error.html.twig" %}

{% block error_content %}

    <h1 class="h3">{{ ('error.' ~ status_code ~ '.title')   |  trans({'%status_code%': status_code, '%status_text%': status_text}) }}</h1>
    <h2 class="h6 mt-5">{{ ('error.' ~ status_code ~ '.text')  |  trans }}</h2>

{% endblock error_content %}