<h1>Vous avez reçu un message du formulaire de contact : </h1>

Expéditeur : {{ message.firstName }} {{ message.lastName }}
Email de l'expéditeur : {{ message.email }}

Message : 

{{ message.message }}



